#wholePage {
  background-image: linear-gradient(to bottom, rgb(33, 33, 33), rgba(255, 255, 255, 0.30)),
  url('../assets/background/bg.jpg');
  height: 100%;
  background-size: cover;
  color: white;
}
